body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-bottom: 6em;
}

main {
  max-width: 100em;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.timeline_wrapper {
  margin: 0 auto;
  font-size: 10px;
  max-width: 100em;
}

.timeline_monster {
  margin-bottom: -1em;
  margin-top: -13em;
}

.timeline_monster img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.timeline_block {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.timeline_even {
  transform: translateX(-25%);
}

.timeline_odd {
  transform: translateX(25%);
}

.block-common {
  z-index: -1;
  position: relative;
  margin-bottom: 2.7em;
  animation: moving 5s infinite;
  animation-timing-function: linear;
}

.block-4 {
  opacity: 0.4;
  margin: -3em 19em -1.5em 5em;
}

.block-5 {
  margin-top: 0em;
  margin-left: 8em;
}

.block-6 {
  margin-top: -5em;
  margin-left: 32em;
}

.block-7 {
  margin-top: -5em;
  margin-left: 56em;
}

.block-8 {
  margin-top: -5em;
  margin-left: 80em;
}

.timeline_odd .block-4 {
  margin-left: 29em;
}

.timeline_odd .block-5 {
  margin-left: -16em;
}

.timeline_odd .block-6 {
  margin-left: -36em;
  margin-top: -3em;
}

.timeline_odd .block-7 {
  margin-left: -56em;
  margin-top: -3em;
}

.timeline_odd .block-8 {
  margin-left: -76em;
  margin-top: -3em;
}

@keyframes moving {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

@media (max-width: 1000px) {
  .timeline_wrapper {
    zoom: 0.8;
  }
}

@media (max-width: 768px) {
  .timeline_wrapper {
    zoom: 0.6;
  }
}

@media (max-width: 550px) {
  .timeline_wrapper {
    zoom: 0.4;
  }
}
